<h1>会社選択ページ</h1>
<%= link_to '戻る', new_user_session_path %>
<%= form_for :session, url: login_path do |f| %>
    <%= f.select :company_id, @companies.map{|t| [t.name, t.id]} %>
    <%= f.password_field :password, placeholder: 'パスワード' %>
    <%= f.submit '新規登録ページへ' %>
<% end %>
