<h1>管理者ページトップ</h1>
<p>Find me in app/views/admins/show.html.erb</p>
<h3>法人管理</h3>
<%= form_for @company.new do |f| %>
  <%= f.text %>
<% end %>
<hr>
<table>
  <thead>
    <tr>
      <th>会社名</th>
      <th>会社員登録URL</th>
      <th>代表者</th>
    </tr>
  </thead>
  <tbody>
  <% @companies.each_with_index do |company, index| %>
    <%# TODO: link_to 社員一覧ページを追加 %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.url %></td>
      <td><%= @companies_users[index] || "未登録" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
