<h1>社員一覧ページ</h1>
<p><%= link_to '[戻る]', admin_path(current_admin.id), class: 'btn btn-default' %></p>
<p>所属会社: <span class="belong-com"><%= @company.name %></span></p>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>代表者</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <th scope="row" class="scope-row"><%= index+1 %></th>
      <td><%= user[:info].name %></td>
      <td><%= user[:info].email %></td>
      <td>
        <%= if @has_manager
          user[:manager] == 'delegate' ? "代表" : link_to("代表者変更", change_manager_company_companies_user_path(params[:company_id], user[:companies_user_id]))
        else
          link_to '代表者登録', registar_manager_company_companies_user_path(params[:company_id], user[:companies_user_id])
        end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
