<h1>社員一覧ページ</h1>
<p>会社名： <%= @company.name %></p>
<hr>
<p><%= link_to '[戻る]', admin_path(current_admin.id) %></p>
<p>Find me in app/views/conpanies_users/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>代表者</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user[:info].name %></td>
      <td><%= user[:info].email %></td>
      <td>
        <%= if @has_manager
          user[:manager] == 'delegate' ? "代表" : link_to("代表者変更", change_manager_company_companies_user_path(params[:company_id], user[:companies_user_id]))
        else
          link_to '代表者登録', registar_manager_company_companies_user_path(params[:company_id], user[:companies_user_id])
        end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
