<h1>代表者ページ</h1>
<p>会社名: <span class="belong-com"><%= @company.name %></span></p>
<hr>
<section class="member-list">
  <h3 class="sub-title">社員一覧</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>社員名</th>
        <th>メールアドレス</th>
        <th>社員削除</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'staff', collection: @staffs %>
    </tbody>
  </table>
</section>
<hr>
<section class="message-wrap">
  <h3 class="sub-title">メッセージ</h3>
  <div class="row">
    <div class="col-md-4">
      <%= form_for [current_user, current_user.messages.build] do |f| %>
        <%= f.text_area :body, placeholder: 'メッセージを入力してください。', required: true, class: 'form-control', rows: 7 %>
        <p><%= f.submit '送信', class: 'btn btn-default btn-primary' %></p>
      <% end %>
    </div>
    <div class="col-md-8 message-list">
      <ul>
        <% if @messages.present? %>
          <%= render partial: 'message', collection: @messages %>
        <% else %>
          <%= 'メッセージがありません。' %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
