<h1>代表者ページ</h1>
<%= link_to '[戻る]', user_path(params[:id]) %>
<hr>
<section>
  <h3>社員一覧</h3>
  <table>
    <thead>
      <tr>
        <th>社員名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'staff', collection: @staffs %>
    </tbody>
  </table>
</section>
<br>
<section>
  <h3>メッセージ</h3>
  <%= form_for [@user, @user.messages.build] do |f| %>
    <%= f.text_area :body, placeholder: 'メッセージを入力してください。' %>
    <%= f.submit '送信' %>
  <% end %>
</section>
