<h1>アンケート回答ページ</h1>
<div class="panel panel-info question-panel">
  <div class="panel-heading"><%= @questionnaire.title %></div>
  <div class="panel-body">
    <%= @questionnaire.description %>
  </div>
</div>
<%= link_to '戻る', questionnaire_list_user_questionnaires_path(current_user.id), class: 'btn btn-default btn-back' %>
<hr>
<section class="form-wrap">
  <%= form_for 'answer', url: {action: 'update'}, html: {method: 'put'} do |f| %>
    <ol>
      <%= render partial: 'edit_question', as: 'question', collection: @questions, locals: { f: f } %>
    </ol>
    <%= f.submit '回答送信', id: 'normal', class: 'btn btn-primary btn-lg' %>
    <%= f.submit '保存して戻る', name: 'temporary', id: 'temporary', class: 'btn btn-success btn-lg' %>
  <% end %>
</section>

<script type="text/javascript">
  answer_new();
</script>
