<h1>アンケート作成ページ</h1>
<section>
</section>
<%# TODO: 戻るボタンではquestionやchoiceを全削除 --> 勝手にされるのだろうか？？もしくはされなくても明示的に削除すべき？？ %>
<%# TODO: ほぞんボタンで保存 %>
<%# TODO: questionnaire作成ページに飛んだ時点でquestionnaireレコードを作成 %>
<article class="questionnaire">
  <div id="questions-wrap">
      <%= form_for @questionnaire do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.submit '送信' %>
        <%= binding.pry %>
        <div id="question-field-wrap"></div>
      <% end %>
  </div>
  <hr>
  <div id="category-select-wrap">
    <p>質問追加</p>
    <select id="category-select" name="category">
      <option value="input">input</option>
      <option value="textarea">textarea</option>
      <option value="select">select</option>
      <option value="checkbox">checkbox</option>
      <option value="radio">radio</option>
    </select>
    <button type="button" id="category-btn">質問追加</button>
  </div>
</article>
<!-- <script type="text/javascript">
  questionnaireNew();
</script> -->
