<h1>アンケート結果ページ</h1>
<p><%= link_to '戻る', :back, class: 'btn btn-default' %></p>
<hr>
<section class="result-page">
  <div class="panel panel-default panel-info">
    <div class="panel-heading"><%= @questionnaire.title %></div>
    <div class="panel-body"><%= @questionnaire.description %></div>
    <div class="panel-footer">回答者数: <span class="num-answered-user"><%= @results.first[1].length %></span>人</div>
  </div>
  <ol>
  <% @questionnaire.questions.each do |question| %>
    <li class="question-box">
      <span class="question-title"><%= question.body %></span>
      <% if question.category == 'input' || question.category == 'textarea' %>
        <div class="text-result">
          <%= render partial: 'questionnaires/text_result', locals: {question: question} %>
        </div>
      <% else %>
        <%= render partial: 'questionnaires/choice_result', locals: {question: question} %>
      <% end %>
      <hr>
    </li>
  <% end %>
  </ol>
</section>
