<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <%= link_to '[管理者ログアウト]', destroy_admin_session_path, method: :delete %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to '[ユーザーログアウト]', destroy_user_session_path, method: :delete %>
      <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= flash[:danger] %>

    <%= yield %>
  </body>
</html>
