<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body>
    <header class="row">
      <div class="col-md-12">
        <%= image_tag "logo.png", height: '40' %>
        <span class="app-name">Welcome Form</span>
        <% if admin_signed_in? %>
          <%= link_to '[管理者ログアウト]', destroy_admin_session_path, method: :delete %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to '[ユーザーログアウト]', destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </header>
    <div class="row">
      <div class="col-md-12">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>
    <%= flash[:danger] %>
    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
