<h1>登録情報編集ページ</h1>
<%= link_to "戻る", :back, class: 'btn btn-default' %>
<hr>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="col-md-3 edit-user-form">
        <div class="field row">
          <div class="col-md-12"><%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: '名前', required: true %></div>
          <div class="col-md-12"><%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email', required: true %></div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="col-md-12"><%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'パスワード(6文字以上)', required: true %></div>
          <div class="col-md-12"><%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'パスワード(確認)', required: true %></div>
          <div class="col-md-12">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: '現在のパスワード', required: true %>
            <i>編集内容を反映するには現在のパスワードが必要です。</i>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "保存", class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="col-md-12 profile-img-title">プロフィール画像</div>
      <div class="col-md-12"><%= f.file_field :image %></div>
    </div>
  <% end %>
